body{
    background-color: rgb(86, 86, 247);
    font: normal 15px arial;
}

header{
    color: white;
    text-align: center;
}


section{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 1.3em;

}

footer > p > a{
    text-decoration: none;
    color: floralwhite;
    font-weight: bolder;

}

#time{
    font-size: 1.8em;
}

#conteudo > img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-bottom: 40px;
    background-image: linear-gradient(to bottom, #07416B, #ECA555);
}